@import '../utilities/variables';

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 5vw;

    .posts-header {
        width: 100%;
        font-size: 20px;
        text-align: left;
        color: $primary-color;
    }

    & > .post-divider {
        border: 1px solid $tertiary-color;
        margin: 5px 0;
        width: 50vw;
    }

    & > hr:nth-child(3) {
        display: none;
    }

    // & > .post-divider {
    //     border: 1px solid $tertiary-color;
    //     margin: 5px 0;
    //     width: 50vw;
    // }
}

.post {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin: 0 2vw;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: $secondary-color;


    &:hover {
        background-color: $secondary-color;
    }

    article {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }
}

.post-header {
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 20px;
        color: $primary-color;
        width: 60%;
        cursor: pointer;
    }
}

.date_author {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    align-items: flex-end;
    color: $primary-color;
    text-align: end;
}

.post-content {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    overflow: hidden;
    margin: 10px 0 5px;
    font-size: 15px;
    width: 100%;
    height: 190px;
}

.post-image {
    min-width: 300px;
    height: 100%;
    border-radius: .5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.post-excerpt-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

    & > p {
        --lh: 1.4rem;
        line-height: var(--lh);
        max-height: calc(var(--lh) * 4);
        overflow: hidden;
    }
}

.continue-reading {
    display: flex;
    padding: 10px 40px;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    width: max-content;
    color: white;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    text-transform: uppercase;

    i {
        font-size: 20px;
        margin-left: 10px;
    }

    &:hover {
        border-color: $tertiary-color;
        color: $tertiary-color;
        background-color: #fff;
    }
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 auto;

    @media only screen and (max-width: 550px) {
        margin: 10px auto 0;
    }
}

.tag-img {
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

.tag-links {
    display: flex;
    flex-wrap: wrap;

    a {
        text-transform: uppercase;
        font-size: 11px;
        margin: 5px 10px;
        cursor: pointer;
        text-decoration: underline;
        width: max-content;

        @media only screen and (max-width: 800px) {
            font-size: 10px;
        }
    }
}



.paging {
    margin: 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    button:nth-child(1) {
        color: $tertiary-color;
        background-color: white;
        border-color: $tertiary-color;
    }

    button {
        width: 30px;
        height: 30px;
        background-color: $primary-color;
        color: white;
        text-align: center;
        border: none;
        margin: 0 1px;
        border: 1px solid transparent;


        &:hover {
            background-color: $secondary-color;
            color: $tertiary-color;
            cursor: pointer;
            border-color: $tertiary-color;
        }
    }
}


@media (max-width: 800px) {
    
    .posts-header {
        font-size: 17px;
    }
    
    .post {
        padding: 20px 10px;
    }

    .post-header {

        h2 {
            font-size: 18px;
        }
    }

    .date_author {
        font-size: 14px;
    }

    .post-content {
        height: 135px;
    }

    .post-excerpt {
        
    }

    .post-image {
        min-width: 230px;
    }

    .post-excerpt-container {

        & > p {
            --lh: 1.2rem;
            font-size: 13px;
        }
    }

    .continue-reading {
        padding: 10px;
        font-size: 12px;
    }
}


@media (max-width: 550px) {

    .posts {
        margin: 20px 2vw;
    }

    .post {
        background-color: $secondary-color
    }

    .post-header {
        flex-direction: column;
        justify-content: center;
    
        h2 {
            font-size: 15px;
            text-align: center;
            width: 100%;
        }
    }

    .date_author {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5px;
        padding: 0 10px;   
    }

    .author {
        width: 50%;
        text-align: start;

    }
    .date {
        width: 50%;
        // text-align: end;
    }

    .post-content {
        flex-direction: column;
        height: auto;
        align-items: center;
    }   

    .post-image {
        width: 100%;
        height: 50vw;
    }

    .post-excerpt-container {
        margin: 20px 0 0 0;
    }

    .post-excerpt {
        margin: 5px 0;
        height: 105px;
        text-align: center;
    }

    .continue-reading {
        margin: 20px auto 0;
    }
}